.btn-approve {
    background-color: #9ca19d;
    color: white;
    border-radius: 5px;
    padding: 1px 15px;
  }

  .btn-approve:hover {
    background-color: #4cae4c;
  }

  .btn-reject {
    background-color: #a10f0f;
    color: white;
    border-radius: 5px;
    /* padding: 0 15px; */
  }

  .btn-reject:hover {
    background-color: #ca1913;
  }
  /* .action-buttons button {
    margin-right: 5px;
  } */
  /* .nav-link.active {
    font-weight: bold;
    color: red;
} */

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.progress-container .title {
  flex: 1;
}
.progress-container .progress {
  flex: 2;
  margin: 0 10px;
}
.progress-container .action {
  flex: 0.1;
}