<!DOCTYPE html>
<html>
<head>
    <title>All Meter Readings</title>
</head>
<body>
    <h1>All Meter Readings</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Serial No</th>
                <th>Reading</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for reading in meter_readings %}
            <tr>
                <td>{{reading.id}}</td>
                <td>{{ reading.serial_no }}</td>
                <td>{{ reading.reading }}</td>
                <td>{{ reading.date }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No meter readings available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
